.no-order-title{
  color: blue;
}

.show-date-text {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-print {
  float: right;
}

.tb-container {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: 1;
}


@media screen and (max-width: 768px) {
  .tb-container {
    justify-content: center;
    align-items: center;
  }
}
