.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 330px;
  width: 30%;
  margin-right: 10px;
}

.card .card-body {
  min-height: 9rem;
}

.card .card-footer {
  padding:0.5rem;
}

.card .special-text {
  color: red;
  font-weight: bold;
}

.card .card-footer .btn {
  width: 100%;
}

.empty-card {
  height: 1px;
  border: none;
  background-color: transparent;
}

.date-select {
  -moz-appearance: none;
  margin-top: 5px;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.date-select span {
  margin-left: 3px;
  margin-right: 3px;
}

.date-select .form-control {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 5px;
  }

  .empty-card {
    display: none;
  }
}