@import url("common/common.css");

.main-content {
  padding-top: 10px;
}

.calendar {
  margin-right: 10px;
}

.today {
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.menu-data {
  width: 100%;
  padding: 10px;
}

.form-row input {
  min-width: 100px;
}

.new-menu-btn {
  width: 100% !important;
}


@media screen and (max-width: 995px) {
  .main-content {
    flex-direction: column;
  }

  .menu-data {
    margin-top: 10px;
  }

  .form-control {
    width: 100%;
  }

  #schedule-box {
    width: 100%;
  }
}