.card {
    margin: 5px;
}

.card:hover {
    border: solid lawngreen 6px;
}

.card-header {
    padding: 0.5rem 1.25rem;
}

.card-body {
    padding: 0.5rem 1.25rem;
}
#order-info-text {
    margin: 10px;
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
}

