@media screen and (max-width: 300px) {
  body {
    background-color: lightblue;
  }
}
/* Body css */
body {
  align-items: center;
  background-color: #f5f5f5;
  min-width: 320px;
}

/* Common css */
.icon-sm {
  width: 24px;
  height: 24px;
}

/* Header css */
.header,
.navbar,
.header-container {
  width: 100%;
  background-color: #ca9b6a;
}

.time-module {
  margin-right: 10px;
  justify-content: center;
}

.time-module span {
  justify-content: left;
  font-size: 15px;
}

.time-module span * {
  display: block;
  float: left;
}

.icon-time {
  height: 20px;
  width: 20px;
}

.btn-group * {
  font-size: 14px;
}

.dropdown-item span {
  display: flex;
  justify-content: left;
}

.dropdown-item span * {
  display: inline-flex;
}

.dropdown-desc {
  color: black;
}

.nav-item {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.nav-item:hover {
 background-color: #976d3e;
}

.nav-item:active {
  background-color: #ffcc99;
}

#current_date, #current_time {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}




