@import url("common/common.css");

.card {
  height: 200px;
  border-width: 2px;
}

.card-body {
  padding-bottom: 0;
}

.card-bottom {
  padding: 0rem 1rem 1rem 1rem;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 0;
}

.no-menu .card-body {
  margin-bottom: 30px;
}

.card-menu-list {
  text-align: start;
}

.card-menu-list, .card-menu-list li {
  width: 100%;
  font-size: 18px;
}

.card-menu-list li {
  color: black;
}

#menu-tip-today, #menu-tip-tomorrow {
  font-size: 20px;
}

#admin-card .card-body {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#admin-card .card-bottom button {
  height: 45px;
}

@media screen and (max-width: 768px) {
  .card {
    height: auto;
    min-height: 220px;
    border-width: 2px;
  }
}

