@import url("common/common.css");

.card {
  min-height: 200px;
}

.card-bottom {
  padding: 0rem 1rem 1rem 1rem;
}

.card-body {
  padding-bottom: 0;
}

.no-menu .card-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.card-menu-list, .card-menu-list li {
  width: 100%;
  font-size: 20px;
}

.card-menu-list li {
  color: white;
}
