@import url("common/common.css");

.card {
  height: 200px;
  border-width: 2px;
  min-width: 340px;
  max-width: 340px;
}

.card-body {
  padding-bottom: 0;
}

.card-bottom {
  padding: 0rem 1rem 1rem 1rem;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 0;
}

.no-menu .card-body {
  margin-bottom: 30px;
}

.card-menu-list {
  text-align: start;
}

.card-menu-list, .card-menu-list li {
  width: 100%;
  font-size: 18px;
}

.card-menu-list li {
  color: black;
}

#menu-tip-today, #menu-tip-tomorrow {
  font-size: 20px;
}

#admin-card .card-body {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#admin-card .card-bottom button {
  height: 45px;
}

.card-bottom {
  padding-left: 10px;
  padding-right: 10px;
}

.card-bottom .btn-group {
  width: 100%;
  padding: 0;
}

.card-bottom .btn-group button {
  margin: 2px !important;
  padding: 0 !important;
}

.btn-price {
  border-color: red;
  color: red;
}

.btn-price:hover {
  background-color: darkred;
  color: white;
}

#user-manage-btn:hover {
  background-color: darkred;
}

#menu-manage-btn:hover {
  background-color: darkgreen;
}

#data-manage-btn:hover {
  background-color: midnightblue;
}

.card-body-price {
  padding: 5px;
  flex-direction: column;
}

.card-body-price .price-container {
  display: flex;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.card-body-price input {
  font-family: Consolas, "Microsoft YaHei", "微软雅黑", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-body-price .price-container .price-editor {
  margin-bottom: 0 !important;
}

.card-body-price .ori-price {
  margin-top: 5px;
}

.divider {
  border-top-color: #DC3545;
}

@media screen and (max-width: 768px) {
  .card-admin .card-info {
    display: none;
  }

  .card {
    height: auto;
    min-height: 150px;
    min-width: auto;
    max-width: none;
    border-width: 2px;
  }

  .card-body-price .price-container {
    min-height: 50px;
  }
}

