.btn-price-modify {
  background-color: #bd2130;
  color: white;
}

.btn-price-modify:hover {
  background-color: darkred;
}

.btn-price-discard {
  background: #0062CC;
  color: white;
}

.btn-price-discard:hover {
  background-color: midnightblue;
}