@import url("../../third-party/jquery-confirm/jquery-confirm.min.css");
@import url("../common/summary-table.css");

* {
  font-family: "Microsoft YaHei", "微软雅黑", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Body css */
body {
  align-items: center;
  background-color: whitesmoke;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

/* Icon css */
.icon-sm {
  width: 24px;
  height: 24px;
}

.icon-eye {
  width: 20px;
  height: 20px;
}

/* Header css */
.header,
.navbar,
.header-container {
  width: 100%;
}

.time-module {
  margin-right: 10px;
  justify-content: center;
}

.time-module span {
  justify-content: left;
  font-size: 15px;
}

.time-module span * {
  display: block;
  float: left;
}

.icon-time {
  height: 20px;
  width: 20px;
}

.btn-group * {
  font-size: 14px;
}

.dropdown-item span {
  display: flex;
  justify-content: left;
}

.dropdown-item span * {
  display: inline-flex;
}

.dropdown-desc {
  color: black;
}

.nav-item, .nav-title {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.nav-item:hover {
  background-color: #cfcfcf;
}

.nav-item:active {
  background-color: #cfcfcf;
}

/* Admin nav list */
.admin-nav-title {
  color: red;
}

.dropdown-user-management {
  color: #BD2130;
}

.dropdown-menu-management {
  color: #1E7E34;
}

.admin-nav-item {
  margin-left: 30px;
}

.dropdown-data-management {
  color: #0062CC;
}

#current_date,
#current_time {
  font-size: 1rem;
  font-weight: bold;
}

.right-radius {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.left-radius {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.all-radius {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.divider {
  width: 100%;
  height: 1px;
  border-top: solid black 1px;
}

.dropdown-divider {
  margin: 2px 0;
}

.large-divider {
  display: block;
  width: 100%;
  height: 2px;
  margin: 8px 0;
  background-color: red;
}

.hide {
  display: none !important;
}

/* Spinner related css */
.spinner-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.70);
  overflow: hidden;
}

.spinner-container .circle-spinner {
  width: 3rem;
  height: 3rem;
}

.fa-exclamation-triangle {
  color: red;
}

.fa-info-circle {
  color: #0077F6;
}

.emphasised-red {
  font-weight: bold;
  color: red;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .main-content {
    padding: 5px !important;
  }
}

