.table-group .form-nav {
  margin-top: 10px;
  width: 100%;
}

.table-group .nav-drop-down {
  max-width: 100%;
  min-width: 115px;
}

.table-group .table-content {
  width: 100%;
}

.table-group .table-content .table-card {
  border-width: 2px;
  border-color: lightgray;
  min-height: 150px;
  width: 100%;
  margin-top: 10px;
}

.table-group .table-content .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-group .table-content .table-card .card-body {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.table-group .table-content .table-card .card-body table {
  table-layout: fixed;
  margin-bottom: 0px;
}

.table .thead-light th {
  border: none;
  padding: 0.5rem 1rem;
}

.table-group .table-content .table-card .card-header {
  padding: 0.4rem 1.25rem;
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.header-full-order {
  color: green !important;
}

.table-group .table-content .table td {
  border-top-color: lightgray;
  border-radius: 4px;
  vertical-align: middle;
  padding: 0.4rem 1.1rem;
  font-size: 1.1rem;
}

.modify-btn, .del-btn {
  padding: 0.15rem 0.5rem;
}

.btn-print, .btn-export {
  margin-left: 5px;
  padding: 0.25rem 0.75rem;
}

@media screen and (max-width: 768px) {
  .table-group .nav-drop-down {
    width: 100%;
  }

  .table-group
  .nav-drop-down
  .dropdown-menu {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  .table-group
  .nav-drop-down
  .dropdown-menu a {
    margin-top: 5px;
  }
}